{% extends 'ProjectBase.html' %}
{% block title %}
Главная
{% endblock %}
{% block bodyInf %}
<div class="container">
<div class="t-col t-col_8 t-prefix_2 t-align_center">
							<div class="t560__title t-title t-title_xs" style="" field="title">Contact us:</div>
										<div class="t560__text t-text-impact t-text-impact_xs t560__text-bottom-margin" style="" field="text">8 800 555 35 35<br>hello@loftpineapple.com</div>
										<div class="t-text t-text_sm" style="" field="text2">Фестивальная 28<br>Ульяновск</div>

		</div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8093f134f4ac528ddaecfbf2517de208ba07e0d9ce18cade7713e00011aa7689&amp;width=938&amp;height=578&amp;lang=ru_RU&amp;scroll=true"></script>
</div>

{% endblock %}