{% extends 'ProjectBase.html' %}
{% block title %}
Главная
{% endblock %}
{% block bodyInf %}

<div class="container">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Очень важная информация! <span class="text-body-secondary"></span></h2>
        <p class="lead">Сергей Борисович Доброходов – ведущий физик-теоретик мирового уровня, который представитель академического мира, но при этом он также известен своей любовью к помойным котам. Его научные достижения в области физики элементарных частиц, квантовой механики и квантовой теории поля увековечены множеством научных работ, наград и заслуженных почестей. Однако, помимо своих профессиональных интересов, Доброходов уделяет огромное количество времени заботе о бездомных котах, часто помогая им пристроиться в заботливые семьи. Его сочетание бескомпромиссной научной деятельности и заботы о животных делает его поистине уникальной личностью.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        <image x="0" y="0" width="500" height="500  " xlink:href="https://ndc.book24.ru/resize/820x1180/iblock/6fc/6fc9404ae24199092e8d141f06d80c68/ce20bd32796f60af8a2825b22d381c69.jpg" />
        </svg>
      </div>
    </div>



    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h3 class="fs-2">Поддержка любимого персонажа</h3>
        <p>Купив мерч с Сергеем Доброходовым, вы показываете, что цените его труды и разделяете его увлечения.</p>

      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2">Уникальность и стильность</h3>
        <p>Мерч в поддержку Сергея Борисовича Доброходова создан в оригинальном стиле, и украсит ваш гардероб или рабочее пространство.</p>

      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h3 class="fs-2">Социальная ответственность</h3>
        <p>часть продаж мерча идет на благотворительность в поддержку бездомных кошек, что позволяет вам сделать доброе дело, покупая любимую вещь.</p>
      </div>
    </div>



























    <div class="px-4 py-5 my-5 text-center">
    <img src="/static/img/aVtCTMblcHw.jpg"  width="300" height="200">
    <h1 class="display-5 fw-bold text-body-emphasis">Загадка</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{my}}</p>

    </div>
  </div>




    </div>



{% endblock %}