{% extends 'ProjectBase.html' %}
{% block title %}
Главная
{% endblock %}
{% block bodyInf %}
<div class="container">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Футболка<span class="text-body-secondary"></span></h2>
        <p class="lead">Футболка с изображением Сергея Борисовича Доброходова – это не только символ науки и достижений в физике, но также показатель того, что ученые любят не только свою профессию, но и животных. На футболке изображен Сергей Борисович с улыбкой на лице и в объятиях с маленьким котенком из мусорных баков, напоминая всем, что нужно заботиться о наших меньших братьях и обращать внимание на проблемы, связанные с экологией городов.</p>
      </div>
      <div class="col-md-5">
        <img src="/static/img/t-shirt2.png"  width="400" height="400">
        </svg>
      </div>
    </div>



<div class="row featurette">
    <div class="col-md-5">
        <img src="/static/img/uchebnik.png"  width="400" height="400">
        </svg>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Учебник в издании С.Б.Доброходова<span class="text-body-secondary"></span></h2>
        <p class="lead">Учебник, написанный самым лучшим физиком в мире Сергеем Борисовичем Доброходовым, является настоящим сокровищем для всех любителей физики и естественных наук.. Однако, наряду с научной составляющей, учебник не оставляет равнодушным любителей милых питомцев - помойных котиков.</p>
      </div>

    </div>


<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Кружка фирменная<span class="text-body-secondary"></span></h2>
        <p class="lead">Кружка с портретом Сергея Борисовича Доброходова - это не только прекрасный предмет для чаепития, но и настоящий символ уважения к лучшему физику в мире. Характерный профиль ученого и его выразительный взгляд напоминают о том, как важно быть настоящим профессионалом в своей области.</p>
      </div>
      <div class="col-md-5">
        <img src="/static/img/kruzhka.jpg"  width="400" height="400">
        </svg>
      </div>
    </div>
</div>



{% endblock %}